<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.robinhsueh.nerdia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Add this to be able to access other apps since Android 11 or higher version had more restriction -->
    <queries>
        <!-- Youtube Api -->
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>

        <!-- Browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>

        <!-- Netflix App -->
        <package android:name="com.netflix.mediaclient" />

        <!-- DisneyPlus App -->
        <package android:name="com.disney.disneyplus" />

        <!-- CatchPlay App -->
        <package android:name="com.catchplay.asiaplay" />

        <!-- PrimeVideo App -->
        <package android:name="com.amazon.avod.thirdpartyclient" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nerdia"
        tools:targetApi="31">

        <!-- Google Safe Browsing Service for webview -->
        <meta-data android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" />

        <!-- Set "configChanges" to avoid screen rotation recreate the activity -->
        <activity
            android:name="com.robinhsueh.nerdia.view.YoutubePlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:exported="false" />
        <activity
            android:name="com.robinhsueh.nerdia.view.ImageDisplayActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name="com.robinhsueh.nerdia.view.MediaDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name="com.robinhsueh.nerdia.view.PersonDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <!-- Set "windowSoftInputMode" to "adjustPan" to avoid bottomNavigationView push up when keyboard show up -->
        <activity
            android:name="com.robinhsueh.nerdia.view.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>